<% layout('layouts/app') %>

<h1 class="text-center">Edit Place</h1>
<div class="col-6 offset-3">
    <form action="/places/<%= place._id %>?_method=PUT" method="post">
        <section class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control" 
                value="<%= place.title %>">
        </section>
        <section class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="location" id="location" class="form-control"
            value="<%= place.location %>">
        </section>
        <section class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="3"><%= place.description %>"</textarea>
        </section>
        <section class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="price" id="price" class="form-control"
                value="<%= place.price %>">
        </section>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>